body {
  font-family: "Playfair Display", serif;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: bisque;
}

#risultato {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.sottopeso {
  background-color: #fff3cd;
  color: #856404;
}

.normale {
  background-color: #d4edda;
  color: #155724;
}

.sovrappeso {
  background-color: #fff3cd;
  color: #856404;
}

.obeso {
  background-color: #f8d7da;
  color: #721c24;
}
